name: Run tests
on:
  workflow_dispatch:
  push:
  pull_request:
    branches: [ethers-v5, ethers-v5-beta]
    types: [ opened, reopened, synchronize ]

permissions:
  contents: read # for checkout

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "lts/*"
      - name: Install dependencies
        run: yarn install
      - name: Build
        run: yarn test:build
      - name: Run local-setup
        run: |
          git clone https://github.com/matter-labs/local-setup.git
          pushd local-setup
          INSTANCE_TYPE=kl-factory-0417-1 docker-compose up -d
          popd
      - name: Wait for local-setup to be ready
        run: yarn test:wait
      - name: Prepare environment
        run: yarn test:prepare
      - name: Run tests
        run: yarn test
