name: Validate
on:
  pull_request:
    branch: main
    types: [ opened, reopened, synchronize ]
  pull_request_target:
    types: [ opened, reopened, synchronize ]

permissions:
  contents: read # for checkout

jobs:
  lint:
    name: Check code format
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "lts/*"
      - name: Install dependencies
        run: yarn install
      - name: Prepare environment
        run: yarn lint:check
  commits:
    name: Check commits
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "lts/*"
      - name: Install dependencies
        run: npm install -g @commitlint/cli @commitlint/config-conventional
      - name: Configure
        run: |
          echo 'module.exports = {"extends": ["@commitlint/config-conventional"]}' > commitlint.config.js
      - name: Validate
        run: |
          git fetch 
          npx commitlint \
            --from ${{ github.event.pull_request.head.sha }}~${{ github.event.pull_request.commits }} \
            --to ${{ github.event.pull_request.head.sha }} \
            --verbose